LoadModule rewrite_module modules/mod_rewrite.so
<VirtualHost *:80>
    DocumentRoot %%DOC_ROOT%%

    RewriteEngine On

    <Directory "%%DOC_ROOT%%">
        order   deny,allow
        allow   from all
        AllowOverride All
    </Directory>

</VirtualHost>
